/* Services Section */
.services-cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

@media (max-width: 1024px) {
  .services-cards-container {
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .services-cards-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
