/* Hero Section */
.hero-animated-image-small {
  display: none;
}

.hero-animated-image-large {
  display: block;
}

.hero-container {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.hero-text-container {
  display: grid;
  gap: 35px;
}

.carousel-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.carousel-container-small {
  display: none;
}

@media (max-width: 1024px) {
  .hero-animated-image-large {
    display: none;
  }

  .hero-animated-image-small {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .hero-container {
    gap: 40px;
  }

  .carousel-container-small {
    display: contents;
  }
}
